[Unit]
Description=SDR Temperature Logger + Web Dashboard
After=network.target

[Service]
Type=simple
User=jsn
Environment=HOME=/home/jsn
WorkingDirectory=/home/jsn/cc_projects/sdr

ExecStart=/bin/bash -c 'rtl_433 -F json -M time:iso 2>/dev/null | python3 temp_server.py --dir sdr'

TimeoutStartSec=30
TimeoutStopSec=15

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
